$body-background-color: #fff;

.home-container {
  background-color: $body-background-color;
  height: 92vh;

  .sidebar-container {
    padding-left: 28px !important;
    min-width: 180px;
  }

  .book-list-container {
    display: flex;
    overflow-y: auto;
    flex-direction: column;

    height: 92vh;

    justify-content: space-between;
  }
}
