$body-background-color: #f6f6f6;

.home-container {
  margin-top: 80px;
  background-color: $body-background-color;

  .pl-1vw {
    margin-left: 1vw !important;
  }

  .book-list-container {
    display: flex;
    overflow-y: auto;
    flex-direction: column;

    height: 94vh;

    justify-content: space-between;
  }
}
