$body-background-color: #f6f6f6;

.home-container {
  margin-top: 80px;
  background-color: $body-background-color;

  .sidebar-container {
    padding-left: 28px !important;
    min-width: 180px;
  }

  .book-list-container {
    display: flex;
    overflow-y: auto;
    flex-direction: column;

    height: 94vh;

    justify-content: space-between;
  }
}
