$header-height: 90px;

.app {
  display: flex;
  flex-direction: column;
}

.app-content {
  display: flex;
  flex-direction: column;

  height: 100vh;
  padding-top: $header-height;

  justify-content: space-between;
}
